.wrapper {
  padding: 0 8px;
}

.searchForm {
  width: 100%;
  display: flex;
  gap: 10px;
  background: #292b33;
  margin: 10px 0;
}
.button {
  width: 15%;
  font-size: 34px;
  padding: 8px;
  color: blue;
  background: #292b33;
  border: none;
  border-right: 0.2px solid rgb(61, 61, 61);
  outline: none;
  cursor: pointer;
}

.input {
  font-size: 18px;
  flex-grow: 1;
  outline: none;
  border: none;
  padding: 8px;
  background: #292b33;
  color: lightgray;
}
